{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
	{% for object in object_list %}
	 
<br>
	<br>
	<br>
		<div class="feed-block-content">
			<div class="header-block group">
				<div class="left-header">
					<h4><a href="" style="text-decoration: none;">{{ object.author.first_name }} {{ object.author.last_name }}</a> </h4>
				</div>
				
			</div>

			<div class="content-block">
				<p>
					<!--<strong>Автор: </strong> {{ object.author.first_name }} {{ object.author.last_name }}<br> -->
					<small><strong>Уақыты: </strong>{{ object.date|slice:":16" }}</small>
				</p>

				<p>{{ object.body|safe }}</p>

				{% if object.image_base64 %}
					<div class="content-img-block">
						<img src="{{ object.image_base64 }}">
					</div>
				{% else %}
					<div class="content-img-youtube">
						{{ object.youtube_link|safe }}
					</div>
				{% endif %}

				

			</div>

			<div class="content-footer">
				<div class="content-nav">
					{% if request.user == object.author %}
					<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>					
					<a href="{% url 'update' object.id %}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
					{% elif request.user.is_staff %}
					<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>					
					{% endif %}
					<a href="{% url 'article_detail' object.id %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i></a>

					<!-- <a href="" >Пікір қалдыру</a> -->
				</div>
			</div>

			<div class="content-comment">
				<div class="comments container">
					{% if comment %}
						<h4>Пікрілер</h4><br>
						<ul>
							{% for i in comment %}

								{% if i.post.id == object.id %}
								<li>
									<div class="container size">
										<h6>{{ i.author.first_name }} {{ i.author.last_name }}</h6>
										<p>{{ i.comment }}</p>
									</div>
									<hr>
								</li>
								{% endif %}
							{% endfor %}
						</ul>

					{% endif %}
				</div>
				<!-- <div class="inner-comment">
					<div class="comment-form">
						{% if user.is_authenticated %}
						<form action="{% url 'comment_add' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="post" required id="id_post" value="{{ object.id }}">
							<textarea placeholder="Пікір жаз..." name="comment" rows="1" class="form-control" required id="id_comment"></textarea>
							<button class="btn btn-primary" type="submit">+</button>	
						</form>
						{% else %}

						<h5>Пікір қалдыру үшің тіркел ;)</h5>
						{% endif %}
					</div>
				</div> -->
				
			</div>


		</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Постты жою</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Постты жоюды расайсызба?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Жабу</button>
        <form action="{% url 'delete_article' object.id %}" method="post">
        	{% csrf_token %}
        	<button type="submit" class="btn btn-danger">Жою</button>
   
        </form>
      </div>
    </div>
  </div>
</div>		 


	 
	{% endfor %}
</div>
{% endblock %}